body{
    color: #484848;
}

header{
    height: 64px;
    padding: 5px;
    background-color: #e1e1e1;
}

header ul li a{
    text-decoration: none;
    color: grey;
}

header ul li{
    display: inline-block;
    padding: 15px;
    font-weight: bold;
}

header ul{
    float: right;
    margin-right: 20px;
}

nav img{
    width: 50px;
    margin: 2px;
    margin-left: 25px;
}

.portada{
    width: 100%;
    height: 90vh;
    background: url(img/portada.jpg) fixed;
    background-size: cover;
}

.col-md-8 h1{
    margin-left: 80px;
    margin-top: 30vh;
    font-weight: bold;
}

.portada .col-md-8 p{
    margin-left: 80px;
    margin-top: 15px;
}

.col-md-8 button{
    margin-left: 80px;
    font-size: 14px;
}

.centrado{
    text-align: center;
}

.espaciado{
    padding-top: 80px;
    padding-bottom: 100px;
}

.informacion .col-md-8 p{
    margin-top: 15px;
}

.card .paw{
    width: 25px;
}

.card .description{
    font-size: 15px;
}

.card h3{
    margin-top: 15px;
}

.espaciado-mediano{
    padding-top: 50px;
}

.card{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14) !important;
    padding: 15px;
}

.gallery-section{
    background-color: #f1f1f1;
}